doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 体重記録簿
  body
    h1 体重記録簿 !{user_name}
    a(href='/logout') ログアウト
    form(method="post" action="/posts")
      table
        tr
          td !{today}
          td
            textarea(name="weight" cols=10 rows=1)
          td
            button(type="submit") 登録
    h1 記録一覧
    table
      tr
        each item in data
          td
            | !{item.date}
      tr
        each item in data
          td
            | !{item.day}
      tr
        each item in data
          td
            | !{item.weight}
